<h1>
  About us
</h1>

<div>
  <p>Student Makhsumov Ilyar</p>
  <p>Благодарю за бесплатные иллюстрации</p>
  <ul>
    <li>
      <a target="_blank" href='https://www.freepik.com/vectors/background'>Background vector created by vectorcat - www.freepik.com</a>
    </li>
    <li>
      <a target="_blank" href='https://pngtree.com/so/risk'>risk png from pngtree.com</a>
    </li>
    <li>
      <a target="_blank" href='https://pngtree.com/so/couple-camping'>couple camping png from pngtree.com</a>
    </li>
    <li>
      <a target="_self" href="https://icons8.com/icons/set/back">Back icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </li>
  </ul>
  <p><a href="https://developers.google.com/identity/sign-in/web/sign-in">Google Sing In API</a> </p>
</div>
