<h1 class="header">
  Available tickets
</h1>
<div class="menu search">
  <input matInput placeholder="Поиск..">
  <button mat-button>Search</button>
</div>
<div class="menu">
  <div class="menu-item">
    <mat-label for="sort">
      Сортировка
    </mat-label>
    <mat-select id="sort">
      <mat-option value="Новые">Новые</mat-option>
      <mat-option value="Популярные">Популярные</mat-option>
    </mat-select>
  </div>
  <div class="menu-item">
    <mat-label for="cost">
      Цена
    </mat-label>
    <mat-select id="cost">
      <mat-option value="Дешевые">Сначало дешевые</mat-option>
      <mat-option value="Дорогие">Сначало дорогие</mat-option>
    </mat-select>
  </div>
</div>
<div class="tickets">
  <table class="tickets product">
    <tr>
      <th>Title</th>
      <th>Описание</th>
      <th>Цена</th>
    </tr>
    <tr *ngFor="let tic of tickets">
      <td>
        {{tic.tittle}}
      </td>
      <td>
        {{tic.description}}
      </td>
      <td>
        {{tic.cost}}
      </td>

    </tr>
  </table>
</div>
