
<button mat-button appBackButton appToPage="" class="back">
  <img src="assets/icons8-back-48.png" alt="back">
</button>
<h1>
  Страница партнера
</h1>
<div>
  <div>
    <p>Организация: {{partner.name}}</p>
    <p *ngIf="bank">Ваши средства: {{bank.karta}}</p>
  </div>
</div>
<div>
  <p>Добавить билет</p>
  <form [formGroup]="ticketForm" >
    <mat-form-field>
      <mat-label>
        Title
      </mat-label>
      <input matInput formControlName="title">
    </mat-form-field> <br>
    <mat-form-field>
      <mat-label>
        Description
      </mat-label>
      <input matInput formControlName="desc">
    </mat-form-field> <br>
    <mat-form-field>
      <mat-label>
        Date
      </mat-label>
      <input matInput type="date" formControlName="data">
    </mat-form-field> <br>
    <mat-form-field>
      <mat-label>
        Cost
      </mat-label>
      <input matInput  formControlName="cost">
    </mat-form-field> <br>
    <button mat-button type="submit" [disabled]="ticketForm.invalid" (click)="send()">Добавить</button>
  </form>
</div>
