<nav class="navbar">
  <span routerLink="" routerLinkActive="active-link" class="logo">Traveling&Booking</span>
  <span routerLink="tickets" routerLinkActive="active-link" class="navItem">Tickets</span>
  <span routerLink="userDetail" class="navItem">My page</span>
</nav>

<div class="container">
  <div class="blurred"></div>
  <router-outlet class="content"></router-outlet>
</div>

<footer>
  <span routerLink="aboutUs" class="navItem">About us</span>
  <span routerLink="partner" class="navItem">For partners</span>
</footer>
